<phpunit 
		stopOnError="false"
		stopOnFailure="false"
		stopOnIncomplete="false"
		stopOnSkipped="false"
		stopOnRisky="false"
		bootstrap="app/tests/bootstrap.php"
	>
	
	<testsuites>
		<testsuite name="Feature">
			<directory>app/tests/feature</directory>
		</testsuite>
		<testsuite name="Unit">
			<directory>app/tests/unit</directory>
		</testsuite>
	</testsuites>
	
	<php>
		<env name="TEST_USER_EMAIL" value=""/>
		<env name="TEST_USER_PASSWORD" value=""/>
	</php>
</phpunit>