/*
    install.css
*/

html, body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: rgb(20, 20, 20);
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
}

#app {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px;
    color: rgb(200, 200, 200);
    background-color: rgb(50, 50, 50);
    overflow-y: hidden;
    text-align: center;
    font-size: 1.2em;
}

#app p {
    margin-bottom: 40px;
}

.header {
    position: relative;
    margin-top: 5px;
}

.header img {
    width: 128px;
    height: 128px;
}

.header h1 {
    font-size: 2.2em;
}

@media screen and (max-width: 653px) {
    .header h1 {
        font-size: 1.5em;
    }
}

.quotes {
    position: relative;
}

.quotes blockquote {
    font-size: 0.9em;
    font-style: italic;
    color: rgb(150, 150, 150);
}

@media screen and (max-width: 653px) {
    .quotes blockquote {
        font-size: 0.72em;
    }
}

.install-content {
    position: absolute;
    width: 98%;
    max-height: 40%;
    top: 50%;
    transform: translate(-0%, -45%);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    overflow-y: auto;
}

@media screen and (max-width: 768px) {
    .install-content {
        width: 90%;
    }
}

@media screen and (min-width: 1020px) {
    .install-content {
        max-height: 45%;
    }
}

.install-content a {
    color: rgb(105, 165, 220);
}

.install-content a:hover {
    color: rgb(135, 190, 235);
}

.install-sponsoring {
    position: relative;
    padding-top: 15px;
}

.install-sponsoring small {
    position: relative;
    top: -10px;
}

.install-action {
    position: absolute;
    bottom: 140px;
    width: 200px;
    left: 50%;
    transform: translate(-67%, -0%);
    z-index: 3;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.install-content table {
    display: block;
    width: 22%;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 810px) {
    .install-content table {
        width: 51%;
    }
}

@media screen and (max-width: 590px) {
    .install-content table {
        width: 76%;
    }
}

.install-content thead {
    background-color: rgb(67, 67, 67);
}

.install-content thead td {
    padding: 10px;
    border: 1px solid rgb(100, 100, 100);
}

.install-content tbody td {
    width: 200px;
    padding: 15px;
    border: 1px solid rgb(100, 100, 100);
}

.install-content td.is-right {
    text-align: right;
}

.is-center-fix {
    transform: translate(-0%, -32%);
}

.is-insufficient {
    color: rgb(220, 85, 79);
}

.is-successful {
    color: rgb(76, 190, 79);
}

.button-stretched {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.install-content form {
    display: block;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 768px) {
    .install-content form {
        width: 80%;
    }
}

.install-content label {
    color: rgb(150, 150, 150);
}

.install-content input {
    color: rgb(150, 150, 150);
    background-color: rgb(67, 67, 67);
}

.install-content a {
    width: 25%;
    margin-top: 20px;
}

.install-content a.is-full-width {
    width: 100%;
}

.install-error {
    position: relative;
    display: block;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgb(220, 85, 79);
    border: 1px solid rgb(145, 43, 39);
    color: rgb(200, 200, 200);
    border-radius: 10px;
}

@media screen and (max-width: 810px) {
    .install-error {
        width: 80%;
    }
}

@media screen and (max-width: 590px) {
    .install-error {
        width: 76%;
    }
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15px;
    margin-left: -20px;
    margin-bottom: -20px;
    background-color: rgb(59, 59, 59);
}

.footer-info {
    position: relative;
    font-size: 1.0em;
    top: -17px;
}

.footer-social {
    position: relative;
    top: -15px;
}

.footer-social a {
    color: rgb(151, 185, 235);
}

.footer-social a:hover {
    color: rgb(179, 202, 235);
}