@use "../../mixins/accessibility" as *;
@use "../../mixins/breakpoints" as *;

.admin-calendar-classes-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 20px 10px;

    @include breakpoint-tablet {
        grid-template-columns: repeat(2, 2fr) repeat(2, minmax(95px, 1fr)) auto;
        grid-gap: 10px;
    }

    .admin-calendar-class-item {
        display: grid;
        grid-template-columns: subgrid;
        grid-column: 1 / -1;
        grid-row-gap: 10px;

        input {
            color: rgb(150, 150, 150);
            background-color: rgb(47, 47, 47);
        }
    }

    .admin-calendar-class-actions {
        grid-column: span 2;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        @include breakpoint-tablet {
            grid-column: span 1;
        }
    }

    .admin-calendar-class-item-form-field {
        label {
            @include visually-hidden;
        }
    }

    .admin-calendar-classes-header {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: subgrid;
        grid-row-gap: 10px;

        .label {
            color: rgb(150, 150, 150);
        }
    }

    .admin-calendar-classes-actions {
        grid-column: 1 / -1;
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: flex-end;
        align-items: center;
        margin-top: 20px;
    }

    input[type="color"] {
        padding: 0 2px;
        cursor: pointer;
    }
}
